modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000

[[ports]]
localPort = 22918
externalPort = 3001

[userenv]

[userenv.shared]
JWT_SECRET = "783fd24a-8316-5f27-8k91-0762d199a504"
PAYMENT_SIMULATION_MODE = "false"
ADMIN_EMAIL = "admin@kenzy.com"
ADMIN_PASSWORD = "Vid9771@"
KHPAY_BASE_URL = "https://khpay.site/api/v1"
KHPAY_API_KEY = "ak_f39db1989739e9b1d8ba2edae83cba36230a0ea5fc222a12"
NEON_DATABASE_URL = "postgresql://neondb_owner:npg_J02zITwAVbpB@ep-floral-cell-am95jxrk.c-5.us-east-1.aws.neon.tech/kenzy?sslmode=require&channel_binding=require"
KHPAY_WEBHOOK_SECRET = "4048463cae3ee6fed27779e300eac87576b3c46689b94eb66ac86a79aedf8ef6"
NEXT_PUBLIC_BASE_URL = "https://3e49ef46-fef5-43fd-8095-658538b119d4-00-2tvo4jx9mq56l.picard.replit.dev"
PUBLIC_APP_URL = "https://3e49ef46-fef5-43fd-8095-658538b119d4-00-2tvo4jx9mq56l.picard.replit.dev"
